# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Docker
*.pid
db_data/
*.log

# Environment variables
.env
.env.*
!.env.example

# Database
*.sqlite3
*.db

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage & reports
htmlcov/
coverage.xml